//
@import "./partials/reset";
@import "./partials/vars";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/discos";
@import "./partials/masInfo";
@import "./partials/menuMov";
@import "./partials/contacto";
@import "./partials/home";

* {
    // border: 1px solid green;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25rem;
    font-weight: 300;
    color: $texto;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 48
    }

    @include esconder-scrollbar;
}

.home {
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 0rem;
    background-color: $fondo;
}

.material-symbols-outlined {
    font-weight: 200;
}

.disco .card .movil{
    display: none;
}

.cv{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4.4rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 14rem 1fr;
    gap: 2rem;
    height: calc(100vh - 6.6rem);
    width: calc(100vw - 3rem);
    max-width: 60rem;
    overflow-y: scroll;

    .partes{
        display: flex;
        flex-flow: column nowrap;
    }

    .principal{
        grid-area: 1 / 2 / -1 / -1;
        height: 100%;
        width: 100%;
        display: flex;
        overflow-y: scroll;
        flex-flow: column;
        gap: 1rem;

        h2{
            @include h4;
            font-weight: 600;
            margin-bottom: 0.5rem;
            // color: $acento;
        }
        article{
            margin-bottom: 1rem;
            display: flex;
            flex-flow: column nowrap;
            .titulo{
                // @include h5;
                font-weight: 500;
                color: $acento;
            }

            span{
            margin: 0.3rem 0 0.1rem 0;
        }
        }
    }

    .secundario{
        grid-area: 2 / 1 / -1 / 2;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        overflow-y: scroll;
        .sectex{
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            text-align: right;
            article{
                display: flex;
                flex-flow: column nowrap;
                h4{
                    font-weight: 600;

                    color: $acento;
                }
            }

        }
    }
    figure{
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        // border: 1px solid red;
        img{
            max-width: 14rem;
            object-fit: contain;
            border-radius: 3px;
        }
    }
}

@media screen and (max-width: 750px) {
    .cv{
        display: flex;
        flex-flow: column nowrap;
        // height: 100%;
        overflow-y: scroll;
        // border: 1px solid red;
        figure{
            // border: 1px solid green;
            justify-content: center;
        }
        .principal{
            height: fit-content;
            overflow-y:visible;
        }

        .secundario {
            overflow-y: visible;
            .sectex{
                text-align: start;
                h4{
                    @include h4;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

.izq-leave{
	transform: translateX(0);
}
.izq-leave-active{
	transition: transform 1000ms ease-in-out;
}
.izq-leave-to{
	transform: translateX(-150vw);
}

.izq-enter{
	transform: translateX(150vw);
}
.izq-enter-active{
	transition: transform 1000ms ease-in-out;
}
.izq-enter-to{
	transform: translateX(0);
}