//
@import "./partials/reset";
@import "./partials/vars";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/discos";
@import "./partials/masInfo";
@import "./partials/menuMov";
@import "./partials/cv";
@import "./partials/contacto";

* {
    // border: 0.1px solid green;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25rem;
    font-weight: 300;
    box-sizing: border-box;
    color: $texto;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 48
    }

    @include esconder-scrollbar;
}

.home {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 0rem;
    background-color: $fondo;
}

.material-symbols-outlined {
    font-weight: 200;
}




.cargando-once{
	opacity: 0;
}
.cargando-once-active{
	transition: opacity 1000ms ease-in-out;
}
.cargando-once-to{
	opacity: 1;
}

.izq-leave{
    // opacity: 1;
	transform: translateX(0);
}
.izq-leave-active{
    // transition: opacity 1000ms ease-in-out;
	transition: transform 500ms ease-in-out;
}
.izq-leave-to{
    // opacity: 0;
	transform: translateX(-150vw);
}

.izq-enter{
	// opacity: 0;
    transform: translateX(150vw);
}
.izq-enter-active{
    // transition: opacity 1000ms ease-in-out;
    transition: transform 500ms ease-in-out;
}
.izq-enter-to{
    // opacity: 1;
	transform: translateX(0);
}

.dch-leave{
    // opacity: 1;
	transform: translateX(0);
}
.dch-leave-active{
    // transition: opacity 1000ms ease-in-out;
	transition: transform 500ms ease-in-out;
}
.dch-leave-to{
    // opacity: 0;
	transform: translateX(150vw);
}

.dch-enter{
	// opacity: 0;
    transform: translateX(-150vw);
}
.dch-enter-active{
    // transition: opacity 1000ms ease-in-out;
    transition: transform 500ms ease-in-out;
}
.dch-enter-to{
    // opacity: 1;
	transform: translateX(0);
}
